h1.NoMatchHeading {
  font-size: 1.5em;
}
h2.NoMatchHeading {
  font-size: 1em;
}
h3.NoMatchHeading {
  font-size: 0.83em;
}

.NoMatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: black;
  margin: 20px 10px;
}

.DarkMode {
  color: white;
}

a {
  color: black;
  margin-bottom: 20px;
}
