.Container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.Menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;

  .MenuLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;

    a {
      font-weight: bold;
      margin-right: 20px;
      text-decoration: none;

      &:hover {
        border-bottom: 2px solid black;
      }
    }
  }

  .MenuRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;

    .GitBanner {
      margin-left: 100px;
    }

    span {
      font-weight: bold;
      margin-left: 20px;
      cursor: default;
    }
  }
}

.Search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;

  a {
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  input {
    margin-top: 20px;
    height: 25px;
    width: 520px;
    font-size: 16px;
    padding: 10px 10px;
  }
}

.DarkMode {
  color: white;

  a,
  p,
  h4,
  span {
    color: white;
  }
}

.SearchResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 20px 0px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(247, 247, 247, 0.158);
  color: black;

  &:hover {
    cursor: pointer;
    box-shadow: none;
    background: rgb(224, 224, 224);
    border: 1px solid rgb(160, 160, 160);
  }

  h4 {
    padding: 2px;
    margin: 0;
    color: black;
  }

  p {
    font-size: 12px;
    padding: 2px;
    margin: 0;
    color: black;
  }

  span {
    font-size: 12px;
    padding: 2px;
    margin: 10px 0px;
    color: black;
  }
}

.SearchResultDark {
  background-color: rgb(224, 224, 224);

  &:hover {
    cursor: pointer;
    box-shadow: none;
    background: darkgray;
    border: 1px solid rgb(160, 160, 160);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Container {
    padding: 10px;
    box-sizing: border-box;
  }

  .Menu {
    flex-direction: column-reverse;
    height: 100px;
    font-size: 10px;

    .MenuLeft,
    .MenuRight {
      justify-content: flex-start;
      width: 100%;

      a,
      span {
        width: auto;
        margin: 5px;
      }
    }
  }

  .Search {
    padding: 10px;
    box-sizing: border-box;

    input {
      height: 50px;
      box-sizing: border-box;
      width: 100%;
    }
  }

  .SearchList {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    .SearchResult {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
