.NewSubmissions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: black;
  margin: 20px 10px;

  h4 {
    text-align: center;
  }

  a {
    color: black;
    margin-bottom: 20px;
  }
}

.DarkMode {
  color: white;

  a {
    color: white;
  }
}
