h1.Submissions {
  font-size: 1.5em;
}
h2.Submissions {
  font-size: 1em;
}
h3.Submissions {
  font-size: 0.83em;
}
h4.Submissions {
  font-size: 0.83em;
}

.NewSubmissions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: black;

  h2.Submissions,
  h3.Submissions,
  h4.Submissions {
    width: 50%;
    text-align: center;
  }

  a {
    color: black;
    margin-bottom: 20px;
  }
}

.Menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  height: 20px;
  width: 100%;
  box-sizing: border-box;

  a {
    color: black;
    margin-right: 20px;
    text-decoration: none;
  }

  span {
    margin-left: 10px;
  }
}

.DarkMode {
  color: white;

  a {
    color: white;
  }
}

@media only screen and (max-width: 600px) {
  .NewSubmissions {
    h2.Submissions,
    h3.Submissions,
    h4.Submissions {
      width: 80%;
      text-align: center;
    }
  }
}
