.Container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;

  span {
    margin: 0 5px;
    padding: 0;
  }
}

.Return {
  position: sticky;
  top: 25px;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    color: white;
    text-decoration: none;
  }
}

.Renderer {
  padding: 20px;
  width: 50%;
  height: auto;
  background-color: rgb(245, 245, 245);
}

.New {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  top: 25px;
  width: 25%;
  color: white;
  cursor: default;

  a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    color: white;
    text-decoration: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Container {
    display: flex;
    flex-direction: column;
  }

  .Return {
    position: relative;
    height: 50px;
    width: 100%;
  }

  .Renderer {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    background-color: rgb(245, 245, 245);
    margin: 20px 0px;
  }

  .New {
    position: relative;
    height: 50px;
    width: 100%;
    justify-content: flex-start;
  }
}
